<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link href="styles/main.css" rel="stylesheet">
  </head>
  
  <body id="sfcss">
  
    <h1 class="titulo-principal">
      Projeto
      <small>Título</small>
    </h1>
  
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="scripts/main.js"></script>
  
    <script src="//localhost:35729/livereload.js"></script>
  </body>
  
</html>